version: "3.8"

services:
  mysql:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: vacation_managment
    ports:
      - "3306:3306"
    volumes:
      - ./init:/docker-entrypoint-initdb.d
